<mat-grid-list style="overflow:hidden" cols="{{numberOfColumns}}" rowHeight="{{rowHeight}}px">
  <mat-grid-tile
    *ngFor="let card of cards"
    [@rotation]="{value: card.rotate, params: {rotate: card.rotate}}"
    [@dragElement]="{value: card.state, params: card.params}"
    (mousemove)="onMouseMoveGrid(card, $event)"
    (mousedown)="onMouseDownTile(card)"
    [colspan]="card.cols"
    [rowspan]="card.rows">
    <app-drag-card [card]="card" (drop)="onTileDrop($event)"></app-drag-card>
  </mat-grid-tile>
</mat-grid-list>
