mat-card {
  margin: 10px;
}
mat-card {
  width: 80%;
}

.text-right {
  text-align: right;
}

mat-form-field {
  margin: 10px;
}

.block-header {
  display: inline-block;
  width: 80%;
  text-align: center;
}
.block-header-button {
  display: inline-block;
  width: 20%;
}