<mat-card class="dashboard-card" ng-if="card">
  <div class="block-header">
    <span style="text-align:center">{{card.title}}</span>
  </div>
  <div class="block-header-button">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div fxLayout="row">
        <div fxLayout="column" (click)="$event.stopPropagation();">
          <mat-form-field>
            <input [(ngModel)]="card.rows" (change)="updateGrid()" type="number" matInput placeholder="Grid rows">
          </mat-form-field>
        </div>
        <div fxLayout="column" (click)="$event.stopPropagation();">
          <mat-form-field>
            <input [(ngModel)]="card.cols" (change)="updateGrid()" type="number" matInput placeholder="Grid rows">
          </mat-form-field>
        </div>
      </div>
    </mat-menu>
  </div>
  <mat-card-content class="dashboard-card-content">
    <div *ngIf="card.content">
      <div *ngIf="card.content.type == 'chart'">
        <app-chart [card]="card"></app-chart>
      </div>
      <div *ngIf="card.content.type == 'text'">
        {{card.data.text}}
      </div>
    </div>
  </mat-card-content>
</mat-card>
